:root {
    --primary-color: linear-gradient(90deg, #FF1EA5, #FF6B74);
    --Text-color: #0E1E32;

}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1360px;
    margin-inline: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}


@font-face {
    font-family: "visbyCF";
    src: url(./Visby\ CF\ 4.200/VisbyCF-Bold.otf);
    font-weight: 700;
}


@font-face {
    font-family: "visbyCF";
    src: url(./Visby\ CF\ 4.200/visbyCF-Medium.otf);
    font-weight: 500;
}



h1 {
    font-family: visbyCF;
    line-height: 1.3;
    font-size: 4rem;
    color: var(--Text-color);
    margin-bottom: 20px;
}

h2 {
    font-family: visbyCF;
    line-height: 1.3;
    font-size: 3rem;
    color: var(--Text-color);
    margin-bottom: 20px;
    text-align: center;
}
h3{
    font-size: 2rem;
    font-family: visbyCF;
    line-height: 1.3;
    color: var(--Text-color);
    margin-bottom: 30px;
    margin-top: 0;
}


#highlight {
    background: var(--Primary-CTA, linear-gradient(90deg, #FF1EA5 0%, #FF6B74 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: visbyCF;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}

.primary-button {
    background: var(--primary-color);
    padding: 20px 25px;
    font-family: visbyCF;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border-radius: 100px;
    border: transparent;
    margin-top: 10px;
    box-shadow: 0px 23.276px 38.405px 8.728px rgba(255, 0, 77, 0.19);
    cursor:pointer;
}

.secondary-button {
    background-color: #ffffff;
    padding: 10px 20px;
    font-family: visbyCF;
    font-weight: 700;
    font-size: 18px;
    color: var(--Text-color, #0E1E32);
    border-radius: 100px;
    border: 2px solid var(--Text-color, #0E1E32);
    margin-top: 10px;
    display:flex;
    gap: 10px;
    align-items: center;
    cursor:pointer;
}
.click-button{
border-radius: 100px;
border: 1px solid #000;
background: var(--Text-color, #0E1E32); 
}

#breakline{
    background-color: #0E1E32;
    width: 100px;
    height: 8px;
}





/* ----------------------------Hero section---------------------------- */


.hero-area {
    display: flex;
    background: #FFF7F2;
    background-image: url(./tp-238-background-02.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    margin: 0;
    padding: 50px;
    justify-content: center;
    align-items: center;


}

.hero-content {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.leftContent {
    max-width: 50%;
}






/* ----------------------------Portfolio Section---------------------------- */
.portfolioSection h2{
    margin-bottom: 0;
}
.portfolioSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.slider-button{
    width: 100%;
    display: flex;
    max-width: 1360px;
    gap: 2px 15px;
    flex-wrap: wrap;

}


.slider-images{
    /* display: flex; */
    width: auto;
    height: 100%;
    background-color: #E6E6E6;
    border-radius: 30px;
    object-fit: contain;

    
    
}


.swiper {
    height: 900px;
    position: relative;
    max-width: 2000px;
    margin-inline: 0;

  }

.swiper2 {
    display: flex;
    height: auto;
    position: relative;
    margin-inline: 0;
    max-width: 2000px;
    overflow: hidden;

  }


.swiper .swiper-slide{
    display: flex;
    background-color: #efefef;
    font-size: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    filter: drop-shadow(10px 10px 10px #00000010);

}
.swiper-slide2{
    width: auto;
    display: flex;
    background-color: #efefef;
    font-size: 40px;


}
.swiper .swiper-slide img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: top;
}
.swiper-scrollbar{
    display: none;
}

.swiper-pagination{
    background-color: #ffffff;
    padding: 25px 10px;
    border-radius: 100px;
    overflow: hidden;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: rgb(12, 12, 15);
    opacity:1 ;
    z-index: 10;

}
.swiper-pagination-bullet-active{
    background:var(--primary-color)}

.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic{
    position: absolute;
    bottom: 10%;
    overflow: hidden;
    filter: drop-shadow(10px 0px 20px #00000020);
    border: 2px solid hsl(0, 0%, 95%);
}


/* ----------------------------Comparison Section------------------------------ */


/* Comparison section background */


.comparison-bg{
    background: rgba(255, 240, 233, 0.60);
    background-size: cover;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    position: relative;
}

/* Comparison Box*/


.compBox {
display: flex;
border-radius: 28px;
background: var(--Primary-CTA, #FFF);
box-shadow: 0px 23.276px 38.405px 8.728px rgba(255, 0, 77, 0.04);
width: 800px;
padding:30px;
gap: 30px;
align-items: flex-start;
flex-shrink: 0;

}


/* Agency Box right side (Violet) */

.agency>#breakline{
    background-color: white;
}
.agency>h3{
    color: white;
}
.agency{
display: flex;
flex-direction: column;
width: 390px;
padding: 30px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
border-radius: 32px;
background: linear-gradient(358deg, #580AFF 0.4%, #5379FF 95.64%);
box-shadow: 0px 24px 39.6px 9px rgba(163, 163, 163, 0.11);
}
#right{
    font-size: 18px;
    font-family: visbyCF;
    color: var(--Primary-CTA, #FFF);
    list-style: none;
    line-height: 1.5;
    position: relative;
    padding-left: 35px;
    
}
ul #right::before{
    content: " ";
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 0;
    background-image: url(./public/images/check-91.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    gap: 30px;
    margin-right: 0px;
    
}

/* Left Freelancer comparison box */

ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#cross{
    font-size: 18px;
    font-family: visbyCF;
    list-style: none;
    line-height: 1.5;
    position: relative;
    padding-left: 30px;
    
}

ul #cross::before{
    content: " ";
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 0;
    background-image: url(./public/images/group.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    gap: 30px;
    margin-right: 0px;
    
}

/* Comparison table and subhero area container */

.compcontent{
    display: flex;
    gap: 50px;
    margin-top: 70px;
align-items: flex-start;
flex-wrap: wrap;

}

/* Subhero area on the right side of Comparison table */

.subhero-banner h2{
    text-align: left;
    font-size: 3.5rem;
    
}
.subhero-banner{
display: flex;
flex-direction: column;
width: 350px;
gap: 70px;
padding:35px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
border-radius: 33px;
background: var(--Primary-CTA, #FFF);
box-shadow: 0px 23.276px 38.405px 8.728px rgba(255, 0, 77, 0.04);
}

.subhero-banner img{
    width: 250px;
}


/* Floation background Elements */

#blue{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}
#pink-left{
    position: absolute;
    left: 10vh;
    bottom: 10vh;
}
#pink-right{
    position: absolute;
    right: 10vh;
    top: 10vh;
}
#small-blue{
    position: absolute;
    bottom: 0;
    right: 20vh;
    bottom: 10vh;
}


.testi-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
 

}

.active{
    background-color: #0E1E32;
    color: #FFF;
    transition: background-color 0.2s ease-in;
}

.allcards{
    display: flex;
  
    /* flex-wrap: wrap; */
}

.testi-cards{
display: flex;
flex-wrap: wrap;
padding: 30px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
gap: 60px;
flex-shrink: 0;
border-radius: 26.972px;
border: 0.963px solid #DCDCDC;
background: var(--Primary-CTA, #FFF);
box-shadow: 0px 22.421px 36.995px 8.408px rgba(85, 83, 91, 0.06);

}
.testi-left-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    align-items: flex-start;
    
}

.testi-right-content{
    width: auto;
    height: auto;
    background: var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
}
.testi-right-content img{
    scale: 1.05;
}
.horizontal-text h2{
    text-align: left;
    margin-top: 0;
   
}
.pricing-section{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}
    
#headline{
    max-width: 30%;
}

.horizontal-text{
    display: flex;
   
    align-items: center;
    gap:30px;
   
 
}
.vertical-breakline{
    height: 100px;
    width: 10px;
    background: var(--primary-color);
}

#paragraph-right{
    max-width: 60%;
}







@media (max-width:728px) {
 
    h1 {
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.5rem;
    }

    .freelancerBox{
        background-color: #fff;
        padding: 30px;
        border-radius: 30px;
        min-width: 70%;
    }
    .leftContent {
        max-width: 100%;
    }
    #blue{
        display: none;
    }
    #pink-left{
       display: none;
    }
    #pink-right{
        display: none;
    }
    #small-blue{
        display: none;
    }
    .subhero-banner{
        width: 100%;
        box-sizing: border-box;
        
    }
  
    .compBox{
        width: 100%;
        overflow-x: auto;
        box-sizing: border-box;
        background: none;
        filter: none;
        padding: 0;
        border-radius: 0;

    }

    
    .comparison-bg{
        padding: 30;
    }
    .compBox::-webkit-scrollbar{
        display: none;
    }
    .swiper {
        max-width: 100%;
      }
      .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
      }
      .portfolioSection{
        overflow:hidden;
        
      }
      .slider-button{
        flex-wrap: nowrap;
        overflow-x: auto;
        
       
      }
      .slider-button::-webkit-scrollbar{
        width: 0%;
        height: 0%;
    }
    
      
      .secondary-button{
        width: auto;
        height: 100%;
        white-space: nowrap;
        margin: 0;
      }
 .hero-area{
        width: 100%;
        padding: 0;

      }
 .hero-content{
    width: 100%;
}
.hero-content img{
    width: 100%;
}

.subhero-banner{
    justify-content: center;
    align-items: center;
    gap:0;
}
.subhero-banner h2{
    font-size: 2.5rem;
    margin: 0;
}

.subhero-banner img{
    display: none;
}

.leftContent{
    width: 100%;
}
.slider-images{
    width: 100%;
}
.swiper2{
    width: 100%;
    max-width: none;
}
.allcards{
    box-sizing: border-box;
    
    width: 100%;
  
}
.testi-cards{
    box-sizing: border-box;
    width: 100%;
}
.testi-left-content{
    width: 100%;
}
}